
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #cfbebe;
    
}

section.chat_section{
    width: 800px;
    max-width: 90%;
    background: #cfc3c3;
   
}
.brand{
    padding: 10px;
    background: #dd16348a;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.brand h1{
    text-transform: none;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}

.chat-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #766d6d;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

textarea{
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #fbfbfb;

}
.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
   
}
.incoming {
    background: #8F8BE8;
    color: #fff;
    border-radius: 20px 20px 20px 0;
    margin-right: auto;
    max-width: 50%;
}

.outgoing {
    background: #e9eafd;
    color: #787986;
    border-radius: 20px 20px 0 20px;
    margin-left: auto;
    max-width: 50%;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #292727;
    font-size: 15px;
}
.system-message {
    text-align: right;
    color: #888;
    font-style: italic;
}